---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/pages/c25c4426-1de5-4da5-ab05-a8b59d3c0b84
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Notion-Version:
      - '2021-05-13'
      Authorization:
      - Bearer <AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - 'script-src ''self'' ''unsafe-inline'' ''unsafe-eval'' https://gist.github.com
        https://apis.google.com https://api.amplitude.com https://widget.intercom.io
        https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com
        https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com
        https://js.stripe.com https://embed.typeform.com https://admin.typeform.com
        https://public.profitwell.com js.sentry-cdn.com https://platform.twitter.com
        https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com;
        connect-src ''self'' https://msgstore.www.notion.so wss://msgstore.www.notion.so
        ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com
        https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com
        https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com
        https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
        https://api.segment.io https://api.pgncs.notion.so https://o324374.ingest.sentry.io
        https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com
        https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com
        https://api.unsplash.com https://boards-api.greenhouse.io; font-src ''self''
        data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src ''self''
        data: blob: https: https://platform.twitter.com https://syndication.twitter.com
        https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src
        ''self'' ''unsafe-inline'' https://cdnjs.cloudflare.com https://github.githubassets.com
        https://platform.twitter.com https://ton.twimg.com; frame-src https: http:;
        media-src https: http:'
      X-Webkit-Csp:
      - 'script-src ''self'' ''unsafe-inline'' ''unsafe-eval'' https://gist.github.com
        https://apis.google.com https://api.amplitude.com https://widget.intercom.io
        https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com
        https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com
        https://js.stripe.com https://embed.typeform.com https://admin.typeform.com
        https://public.profitwell.com js.sentry-cdn.co[...]
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: UTF-8
      string: "<SENSITIVE_DATA>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"SENSITIVE_DATA","expires_in":3599,"scope":"https://www.googleapis.com/auth/userinfo.email
        https://www.googleapis.com/auth/calendar openid","token_type":"Bearer","id_token":"SENSITIVE_DATA"}'
  recorded_at: Sun, 11 Jul 2021 07:49:40 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/c_6pfeml6hj5k752dt4qq68q0ido@group.calendar.google.com/events
    body:
      encoding: UTF-8
      string: '{"end":{"date":"2021-06-18"},"start":{"date":"2021-06-17"},"summary":"Notion
        All Day Single Event"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"3251979562842000"'
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#event",
         "etag": "\"3251979562842000\"",
         "id": "fgb7vl2mlbkugmg4eq0t62ke7s",
         "status": "confirmed",
         "htmlLink": "https://www.google.com/calendar/event?eid=ZmdiN3ZsMm1sYmt1Z21nNGVxMHQ2MmtlN3MgY182cGZlbWw2aGo1azc1MmR0NHFxNjhxMGlkb0Bn",
         "created": "2021-07-11T07:49:41.000Z",
         "updated": "2021-07-11T07:49:41.421Z",
         "summary": "Notion All Day Single Event",
         "creator": {
          "email": "test@example.com",
          "displayName": "Example User"
         },
         "organizer": {
          "email": "c_6pfeml6hj5k752dt4qq68q0ido@group.calendar.google.com",
          "displayName": "Notion to GCal Sync",
          "self": true
         },
         "start": {
          "date": "2021-06-17"
         },
         "end": {
          "date": "2021-06-18"
         },
         "iCalUID": "fgb7vl2mlbkugmg4eq0t62ke7s@google.com",
         "sequence": 0,
         "reminders": {
          "useDefault": false
         },
         "eventType": "default"
        }
  recorded_at: Sun, 11 Jul 2021 07:49:41 GMT
recorded_with: VCR 6.0.0
