---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: UTF-8
      string: "<SENSITIVE_DATA>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"SENSITIVE_DATA","expires_in":3599,"scope":"openid
        https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/calendar","token_type":"Bearer","id_token":"SENSITIVE_DATA"}'
  recorded_at: Sun, 27 Jun 2021 08:06:49 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/c_6pfeml6hj5k752dt4qq68q0ido@group.calendar.google.com/events/46avomjj8qkagc38r7asgvqdn2_20210621
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <AUTH_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3248192179296000"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#event",
         "etag": "\"3248192179296000\"",
         "id": "46avomjj8qkagc38r7asgvqdn2_20210621",
         "status": "confirmed",
         "htmlLink": "https://www.google.com/calendar/event?eid=NDZhdm9tamo4cWthZ2MzOHI3YXNndnFkbjJfMjAyMTA2MjEgY182cGZlbWw2aGo1azc1MmR0NHFxNjhxMGlkb0Bn",
         "created": "2021-06-19T08:43:17.000Z",
         "updated": "2021-06-19T09:48:09.648Z",
         "summary": "Test Recurring Exception 2",
         "creator": {
          "email": "test@example.com",
          "displayName": "Example User"
         },
         "organizer": {
          "email": "c_6pfeml6hj5k752dt4qq68q0ido@group.calendar.google.com",
          "displayName": "Notion to GCal Sync",
          "self": true
         },
         "start": {
          "dateTime": "2021-06-21T10:00:00+08:00",
          "timeZone": "Asia/Singapore"
         },
         "end": {
          "dateTime": "2021-06-21T10:30:00+08:00",
          "timeZone": "Asia/Singapore"
         },
         "recurringEventId": "46avomjj8qkagc38r7asgvqdn2",
         "originalStartTime": {
          "date": "2021-06-21"
         },
         "iCalUID": "46avomjj8qkagc38r7asgvqdn2@google.com",
         "sequence": 2,
         "reminders": {
          "useDefault": true
         },
         "eventType": "default"
        }
  recorded_at: Sun, 27 Jun 2021 08:06:49 GMT
recorded_with: VCR 6.0.0
